.pageBody {
  max-width: 700px;
}

input,
textarea,
select {
  display: block;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 5px;
}

textarea {
  background-color: #eeeeee;
  border: none;
  border-radius: 8px;
}

select {
  cursor: pointer;
}

form p {
  margin-bottom: 15px;
}

#registerAsset {
  align-self: flex-end;
}

.formInputError {
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 8px;
  color: red;
  display: none;
}

.formInputErrorActive {
  display: block;
}

.sideImgContainer {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #c6d4a1;
}

.signupContainer {
  width: 50%;
  margin: 20px;
}
