.pageBody {
  max-width: 700px;
}

input,
textarea,
select {
  display: block;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 5px;
}

textarea {
  background-color: #eeeeee;
  border: none;
  border-radius: 8px;
}

select {
  cursor: pointer;
}

form p {
  margin-bottom: 15px;
}

#registerAsset {
  align-self: flex-end;
}

.formInputError {
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 8px;
  color: red;
  display: none;
}

.formInputErrorActive {
  display: block;
}

.sideImgContainer {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #c6d4a1;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
}

.formContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 50px;
  width: 80%;
}

#signupForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.formContainer h1 {
  align-self: center;
}

.signinLink {
  align-self: flex-end;
}

.underlinedLink {
  text-decoration: underline;
}

#userUnitLabel,
#requiredFields,
.buttonContainer {
  grid-column: span 2;
}

#registerUser {
  width: 100%;
}

#imageDisplay {
  margin-top: 10px;
  margin-left: 5px;
  height: 90px;
  width: 90px;
  border: 1px solid #444;
}

#userProfilePicture {
  height: 38px;
  align-self: center;
}

.imageDisplayInput {
  display: flex;
  align-items: center;
  gap: 30px;
}

#userProfilePictureError {
  align-self: center;
  justify-self: center;
}
