.sideImgContainer {
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #e49471;
}

#sideImgContainerSignin {
  background-color: #c6d4a1;
}

.pageContainer {
  display: grid;
  grid-template-rows: 1fr 15fr;
  align-items: center;
  justify-items: center;
  width: 50%;
  margin: 20px;
}

.headingFormContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 50px;
  width: 80%;
}

#signupForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.headingFormContainer h1 {
  align-self: center;
}

.link {
  justify-self: end;
}

.underlinedLink {
  text-decoration: underline;
}

#userUnitLabel,
#requiredFields,
.buttonContainer {
  grid-column: span 2;
}

.signupButton {
  width: 100%;
}

#imageDisplay {
  margin-top: 10px;
  margin-left: 5px;
  min-height: 90px;
  min-width: 90px;
  height: 90px;
  width: 90px;
  object-fit: cover;
  border: 1px solid #444;
  border-radius: 50%;
}

#userProfilePicture {
  height: 38px;
  align-self: center;
  display: none;
}

.imageDisplayInput {
  display: flex;
  align-items: center;
  gap: 30px;
}

#userProfilePictureError {
  align-self: center;
  justify-self: center;
}

#submit {
  width: 100%;
  background-color: #ad522a;
}

#submit:hover {
  background-color: #6c331a;
}

#signinForm {
  width: 80%;
}

#signinEmailLabel,
#signinPasswordLabel {
  width: 100%;
  margin-left: 0;
}

.rememberMeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 10px;
}

#rememberMe,
#rememberMeLabel {
  display: inline-block;
  width: auto;
  margin: 0;
}

#signinPasswordError {
  display: none;
}

#forgotPassword {
  justify-self: end;
}
