@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #8a5e3b;
  --secondary-color: #e58d00;
  --tertiary-color: #e8cfc1;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
  color: #444;
}

body {
  font-family: "Roboto", sans-serf;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}

a:hover {
  color: var(--secondary-color);
}

header {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  outline: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  background: var(--primary-color);
  margin: 5px auto;
  transition: transform 0.2s, opacity 0.2s;
}

.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    text-align: center;
    background: #fff;
    transition: all 0.2s;
  }

  nav.active {
    left: 0;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
  }

  .nav-item {
    margin: 20px 0;
  }

  .nav-link {
    font-size: 24px;
  }
}

.logo {
  font-size: 1rem;
  font-weight: 500;
}

.logo img {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  max-width: 150px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: var(--bold-font);
}

.nav-button {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: var(--bold-font);
  outline: none;
  width: 80%;
  justify-self: center;
}

.nav-button:hover,
.btn1:hover {
  border: 2px solid var(--secondary-color);
  background-color: #fff;
  color: var(--secondary-color);
}

.offer-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

.first-panel h1 {
  font-size: 5.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

.first-panel h1 span {
  color: var(--secondary-color);
}

.first-panel p {
  font-size: 1.4rem;
  line-height: var(--line-height);
  margin-bottom: 2rem;
}

.first-panel a {
  font-size: 18px;
  color: white;
}

.btn1 {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px; /* added */
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 10px;
  width: 10rem;
}

.btn2 {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px; /* added */
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 10px;
  width: 10rem;
}

.btn2:hover {
  border: 2px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}

.values-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

.mission-vision-values {
  max-width: 800px;
  margin: 0 auto;
}

.mission-vision-values h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

.mission-vision-values p {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-bottom: 2rem;
}

.mission-vision-values ul {
  text-align: left;
  margin-top: 2rem;
}

.mission-vision-values li {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-bottom: 0.5rem;
  font-weight: var(--normal-font);
}

special-list ol {
  list-style: none;
  counter-reset: list;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.special-list li {
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  margin: 2rem auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
  display: flex; /* added */
  align-items: center; /* added */
}

.special-list li {
  position: relative;
  counter-increment: list;
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

.special-list li::before {
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --c1: var(--primary-color);
  --c2: var(--secondary-color);

  content: counter(list);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--c1) var(--stop),
    var(--c2) var(--stop)
  );
  color: #fff;
  font-weight: var(--bold-font);
}

.special-list h3 {
  margin: 0;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

@media screen and (max-width: 768px) {
  .values-section {
    padding: 2rem;
  }

  .mission-vision-values h2 {
    font-size: 1.5rem;
  }

  .mission-vision-values p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .mission-vision-values ul {
    margin-top: 1rem;
  }

  .mission-vision-values li {
    font-size: 1rem;
    line-height: 1.3;
  }
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.specialities-section {
  background-color: #f8f8f8;
  padding: 2rem 0rem;
  text-align: center;
}

.specialities-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

.specialities {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-bottom: 2rem;
}

specialities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.specialities-list ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
}

.specialities-list li {
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  margin: 1rem auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 1rem);
  flex-direction: column;
}

.specialities-list li::before {
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --c1: var(--primary-color);
  --c2: var(--secondary-color);
  content: counter(list);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--c1) var(--stop),
    var(--c2) var(--stop)
  );
  color: #fff;
  font-weight: var(--bold-font);
}

.specialities-list h3 {
  margin: 0;
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.specialities-list li {
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  margin: auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-basis: calc(50% - 1rem);
  flex-direction: column;
}

.specialities-list p {
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.3;
}

.client-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

.slider-body {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  height: auto;
  margin: auto;
  overflow: hidden;
  align-items: center;
}

.slider:before {
  position: absolute;
  z-index: 1;
  left: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}

.slider:after {
  position: absolute;
  right: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 96.9%, 0),
    hsla(0, 0%, 96.9%, 0.99) 99%
  );
}

.slider .slide-track {
  display: flex;
  animation: scroll 35s linear infinite;
  -webkit-animation: scroll 35s linear infinite;
  width: calc(240px * 9);
}

.slider .slide {
  cursor: pointer;
  width: 180px;
  height: auto;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slide img {
  height: auto;
  width: 160px;
  filter: brightness(0) saturate(100%);
  opacity: 0.25;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-240px * 5));
    transform: translateX(calc(-240px * 5));
  }
}

.product-section {
  padding: 4rem 2rem;
  background: #f8f8f8;
}

.product-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.images {
  width: 40%;
  margin-right: 2rem;
}

.images img {
  width: 100%;
  height: auto;
}

.product {
  width: 60%;
}

.product .name {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: bold;
}

.product .desc {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-weight: inherit;
}

#moreBtn {
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 15rem;
}
  .team-section {
    padding: 2rem 2rem;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .team-section-h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
  }

  .container-card {
    height: 100vh;
    width: 100vw;
    max-width: 800px;
    min-width: 600px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .border {
    position: relative;
    height: 342px;
    width: 260px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid var(--tertiary-color);
    opacity: 0;
    transition: 1s ease;
    z-index: 0;
  }
  .border:hover {
    opacity: 1;
  }
  .card {
    position: relative;
    height: 379px;
    width: 300px;
    background: #808080;
    margin: 30px;
    border-radius: 20px;
    transition: .8s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card0 {
    background: url(/landing_page_team/assets/images/Angelo.jpg) center center no-repeat;
    background-size: 300px;
  }
  .card0:hover {
    background: url(/landing_page_team/assets/images/Angelo.jpg) left center no-repeat;
    background-size: 450px;
  }
  .card1 {
    background: url(/landing_page_team/assets/images/Carolina.png) center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background: url(/landing_page_team/assets/images/Carolina.png) left center no-repeat;
    background-size: 450px;
  }

  .card2 {
    background: url(/landing_page_team/assets/images/Ana.jpg) center center no-repeat;
    background-size: 300px;
  }
  .card2:hover {
    background: url(/landing_page_team/assets/images/Ana.jpg) left center no-repeat;
    background-size: 450px;
  }

  .card3 {
    background: url(/landing_page_team/assets/images/Efrain.png) center center no-repeat;
    background-size: 300px;
  }

  .card3:hover {
    background: url(/landing_page_team/assets/images/Efrain.png) left center no-repeat;
    background-size: 500px;
  }

  .card4 {
    background: url(/landing_page_team/assets/images/Armando.png) center center no-repeat;
    background-size: 300px;
  }

  .card4:hover {
    background: url(/landing_page_team/assets/images/Armando.png) left center no-repeat;
    background-size: 450px;
  }

  .container-h2 {
    position: absolute;
    bottom: 130px;
    left: 25px;
    width: 15px;
    color: var(--secondary-color);
    font-size: 25px;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 0 10px;
  }
  
  .container-h2 p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  .role {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    z-index: 1;
  }

  .role p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    width: 100%;
  }

  .contact-section {
    padding: 2rem 2rem;
    background: #f8f8f8;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
  }
  
  .contact-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
  }

    ::selection{
      background: var(--secondary-color);
      color: #fff;
  }
  .wrapper{
      width: 380px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  .wrapper .title{
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      line-height: 100px;
      color: var(--secondary-color);
      padding-top: 30px;
      user-select: none;
  }
  .wrapper form{
      padding: 0px 30px 50px 30px;
  }
  .wrapper form .field{
      height: 50px;
      width: 100%;
      margin-top: 20px;
      position: relative;
  }
  .wrapper form .field input{
      height: 100%;
      width: 100%;
      outline: none;
      font-size: 17px;
      padding-left: 20px;
      border: 1px solid lightgray;
      border-radius: 25px;
      transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
      border-color: var(--secondary-color);
  }
  .wrapper form .field label{
      position: absolute;
      top: 50%;
      left: 20px;
      color: #999999;
      font-weight: 400;
      font-size: 17px;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
      top: 0%;
      font-size: 16px;
      color: var(--secondary-color);
      background: #fff;
      transform: translateY(-50%);
  }
  form .content{
      display: flex;
      width: 100%;
      height: 50px;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;
  }

  form .content input{
      width: 15px;
      height: 15px;
  }
  form .content label{
      color:#262626;
      user-select: none;
      padding-left: 5px;
  }
  form .field input[type="submit"]{
      color: #fff;
      border: none;
      padding-left: 0;
      margin-top: -10px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      background: linear-gradient(45deg, var(--secondary-color) 0%, var(--tertiary-color) 100%);
  }
  form .field input[type="submit"]:active{
      transform: scale(0.95);
  }
  
  footer {
    background-color: #f7f7f7;
    color: #666;
    padding: 30px 0;
    font-size: 14px;
    }
    
    .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    }
    
    .footer-section {
    flex-basis: 30%;
    max-width: 350px;
    margin-bottom: 30px;
    }
    
    .footer-section h3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--primary-color);
    }
    
    .footer-section p {
    line-height: 1.5;
    margin-bottom: 20px;
    }
    
    .social-icons {
    display: flex;
    }
    
    .social-icons a {
    margin-right: 15px;
    color: #666;
    }
    
    .social-icons a:hover {
    color: #333;
    }
    
    .footer-bottom {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
    }
    
    .footer-bottom p {
    margin-bottom: 0;
    color: var(--primary-color);
    }

    section {
      border-bottom: 1px solid #e7e7e7;
    }

    section {
      border-top: 1px solid #e7e7e7;
    }