@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #8A5E3B;
  --secondary-color: #E58D00;
  --tertiary-color: #e8cfc1;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

 body {
  font-family: "Roboto", sans-serf;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  
}

a:hover {
  color: var(--secondary-color);
} 

header {
  background: #fff;
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  outline: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  background: var(--primary-color);
  margin: 5px auto;
  transition: transform 0.2s, opacity 0.2s;
}

.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    text-align: center;
    background: #fff;
    transition: all 0.2s;
  }

  nav.active {
    left: 0;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
  }

  .nav-item {
    margin: 20px 0;
  }

  .nav-link {
    font-size: 24px;
  }
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

.logo img {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  max-width: 200px;
  max-height: 200px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: var(--bold-font);
}

.nav-button {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: var(--bold-font);
  outline: none;
  width: 60%;
}

.offer-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

.first-panel h1 {
  font-size: 5.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

.first-panel h1 span {
  color: var(--secondary-color);
}

.first-panel p {
  font-size: 1.4rem;
  line-height: var(--line-height);
  margin-bottom: 2rem;
}

.first-panel a {
  font-size: 18px;
  color: white;
}

.btn1 {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px; /* added */
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 10px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #d38302;
}

.btn2 {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px; /* added */
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 8px 10px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #7b5434;
}


.about-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

.mission-vision-values {
  max-width: 800px;
  margin: 0 auto;
}

.mission-vision-values h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

.mission-vision-values p {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-bottom: 2rem;
}

.mission-vision-values ul {
  text-align: left;
  margin-top: 2rem;
}

.mission-vision-values li {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-bottom: 0.5rem;
  font-weight: var(--normal-font);
}

special-list ol {
  list-style: none;
  counter-reset: list;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
  }
  
  .special-list li {
    position: relative;
    counter-increment: list;
    max-width: 45rem;
    margin: 2rem auto;
    padding: 2rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    display: flex; /* added */
    align-items: center; /* added */
  }

  .special-list li {
    position: relative;
    counter-increment: list;
    margin: 2rem auto;
    padding: 1rem;
    background-color: transparent;
    border: none;
  }

  
  .special-list li::before {
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --c1: var(--primary-color);
  --c2: var(--secondary-color);
  
  content: counter(list);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
  color: #fff;
  font-weight: var(--bold-font);
  }
  
  .special-list h3 {
  margin: 0;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
  }


@media screen and (max-width: 768px) {
  .about-section {
    padding: 2rem;
  }
  
  .mission-vision-values h2 {
    font-size: 1.5rem;
  }

  .mission-vision-values p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .mission-vision-values ul {
    margin-top: 1rem;
  }

  .mission-vision-values li {
    font-size: 1rem;
    line-height: 1.3;
  }
}


.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.specialities-section {
  background-color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

.specialities-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-weight: var(--bolder-font);
}

.specialities {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-bottom: 2rem;
}

specialities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
  }
  
  .specialities-list ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
  }
  
  .specialities-list li {
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  margin: 2rem auto;
  padding: 2rem 1rem 1rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-basis: calc(50% - 1rem);
  flex-direction: column;
  }
  
  .specialities-list li::before {
    --stop: calc(100% / var(--length) * var(--i));
    --l: 62%;
    --l2: 88%;
    --c1: var(--primary-color);
    --c2: var(--secondary-color);
    content: counter(list);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
    color: #fff;
    font-weight: var(--bold-font);
    }
    
    .specialities-list h3 {
    margin: 0;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.4rem;
    }
    
    .specialities-list li {
    position: relative;
    counter-increment: list;
    max-width: 45rem;
    margin: 2rem auto;
    padding: 2rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-basis: calc(50% - 1rem);
    flex-direction: column;
    }
    
    .specialities-list p {
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.3;
    }

  .client-section {
    background-color: #f8f8f8;
    padding: 4rem 2rem;
    text-align: center;
  }

  .slider-body {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
  }
  .slider:before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
  }
  
  .slider:after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 96.9%, 0),
      hsla(0, 0%, 96.9%, 0.99) 99%
    );
  }
  .slider .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 9);
  }
  .slider .slide {
    cursor: pointer;
    width: 180px;
    height: auto;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider .slide img {
    height: auto;
    width: 160px;
    filter: brightness(0) saturate(100%);
    opacity: 0.25;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(calc(-240px * 5));
      transform: translateX(calc(-240px * 5));
    }
  }
